<div class="panel panel-default band-panel">
  <div class="panel-body">
    <h4 class="panel-title band-description-header pull-left">Description</h4>

      {{#if isEditing}}
        <div class="form-group">
          {{textarea class="form-control" value=model.description}}
        </div>
      {{else}}
        <p>{{model.description}}</p>
      {{/if}}

      <div class="clearfix"></div>

      {{#liquid-if isEditing class="band-description"}}
        <div class="form-group">
          {{textarea class="form-control" value=model.description}}
        </div>
      {{else}}
        <p>{{model.description}}</p>
      {{/liquid-if}}

  </div>
</div>
